<!-- Clients Aside -->
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                  <a href="http://www.abelsolutions.com">
                    <div style="background-image: url('img/logos/AbelSolutions.jpeg');" class="client"></div>
                  </a>
                </div>
                <div class="col-md-2 col-sm-6">
                  <a href="http://www.chevron.com/">
                    <div style="background-image: url('img/logos/Chevron.jpeg');" class="client"></div>
                  </a>
                </div>
                <div class="col-md-2 col-sm-6">
                  <a href="http://www.asurequality.com/">
                    <div style="background-image: url('img/logos/AsureQuality.jpg');" class="client"></div>
                  </a>
                </div>
                <div class="col-md-2 col-sm-6">
                  <a href="http://www.annegeddes.com/">
                    <div style="background-image: url('img/logos/AnneGeddes.jpg');" class="client"></div>
                  </a>
                </div>
                <div class="col-md-2 col-sm-6">
                  <a href="https://gsk.co.nz/">
                    <div style="background-image: url('img/logos/GlaxoSmithKline.jpg');" class="client"></div>
                  </a>
                </div>
                <div class="col-md-2 col-sm-6">
                  <a href="http://www.ezypeezy.com/">
                    <div style="background-image: url('img/logos/Ezypeezy.jpg');" class="client"></div>
                  </a>
                </div>
            </div>
        </div>
    </aside>
