<!-- About Section -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Process</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Planning</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The planning process starts with the Initial Contact. After we’ve gathered enough details, we can build a Proposal to demonstrate our understanding of these requirements, what we intend to deliver, how long the project is expected to take, and the required investment to complete this project.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Development</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A project begins to take shape in the form of prototypes. We take the planned deliverable and determine which components are the most difficult to build and which represent the backbone of the solution. These components typically form the first of the prototypes and the rest of the solution naturally comes together afterward.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Collaboration</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Throughout the whole project we'd be working very closely with the customer to ensure that the deliverable will indeed meet the expectations and solve the problem. From experience we know certain aspects of a solution need to be flexible in design to work with changing requirements.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <h1 class="fa fa-rocket fa-inverse"></h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Delivery</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Depending on the complexity of the solution, this process could take as little as an hour to as long as six weeks. During this process we monitor the solution carefully to ensure that we catch any last minute issues and rectify them as quickly as possible. After that its time to start thinking about the next set of features and enhancements.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
