<!-- About Section -->
    <section id="process" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Process</h2>
                    <h3 class="section-subheading text-muted">Our engineering approach.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/table.jpeg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Research and Understand</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Understanding your business and processes allows us to find the best technology fit. We know that there is no 'one size fits all' solution; thats why we create bespoke software.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/desk.jpeg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Design and Innovate</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Software should make life easier, to this end user experience and aesthetics are incredibly important. All of our software is carefully considered and designed.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive"  src="/img/roads.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Build and Test</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      During this phase we work closely with you to ensure that the solution will be fit for purpose. We emphasise high quality and proof of correctness through testing.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <img class="img-circle img-responsive"  src="/img/meeting.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Deliver and Maintain</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Once software is built and delivered, its not the end of the road. We create a long term strategy for monitoring and maintaining the software.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <img class="img-circle img-responsive"  src="/img/bridge.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Iterate</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      As your business changes so too must the software that supports it. We can help identify areas to improve and explore new features and technologies to design and build.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
