<!-- Quuotes Section -->
    <section id="quotes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <blockquote cite="http://aqinsight.com">
                      Nocturnal Code built our AsureQuality's inSight™ website. inSight™ is a new offering for AsureQuality, and Nocturnal Code were comfortable with an associated degree of uncertainty and evolving requirements. Their expertise supported us to make informed decisions around technology, content management approaches and site usability. The project was strongly collaborative, allowing frequent validation of alignment with requirements, and progress planned timelines. This project was completed on-time and within budget. We are very pleased with the result, and plan to use Nocturnal Code again for future projects.
                      <footer>
                        Pam Whitfield, Project Manager, AsureQuality Ltd
                      </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
